
    
    .widget {
        border: none;
        box-shadow: 0 2px 0 rgba(0,0,0,.07);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 20px;
        position: relative;
        background: #fff;
        padding: 20px;
        display: block;
        width: 25rem;
        height:515px;
    }
    
    .widget-blog-cover {
        overflow: hidden;
        padding-top: 60%;
    }
    
    .widget-blog-cover, .widget-stat-header {
        position: relative;
        border-radius: 5px 5px 0 0;
        margin: -20px -20px 20px;
    }
    
    .animation-grow-hover, .widget-blog .widget-blog-cover img {
        transition: all .1s ease-in-out;
    }
/*     
    .widget-blog-cover img:hover{
        max-width: 100%;
        min-height: 100%;
        margin-left: -5%;
        margin-top: -5%;    
    } */
    
    .widget-blog-cover img {
        position: absolute;
        display: block;
        left:20%;
        top: 0;
        bottom: 0;
    
    }
    

    
    .widget-blog-author-image {
        /* float: left; */
        margin-top: -30px;
        padding: 5px;
        border-radius: 70px;
        width: 70px;
        height: 70px;
        background: #fff;
        position: relative;
    }
    
    /* .widget-blog-author-image img {
        max-width: 100%;
        border-radius: 70px;
    } */
    
    .text-muted {
        color: #aab3ba;
    }
    .f-s-11 {
        font-size: 12px!important;
    }
    .m-0 {
        margin: 0!important;
    }

    .columnfixed{
        position: relative;
        display: flex;
    
    }
    
    .widget-blog-cover img{
        height:100%;
        align-items: center;
        text-align: center;
    }


 .vlA{
            border-left: 2px solid rgb(231, 230, 230);
            height:390px;
 }


 #blogrhs{
     width:760px;
    background-color: white;
    border: none;
    box-shadow: 0 2px 0 rgba(0,0,0,.07);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    background: #fff;
    padding: 20px;
    display: block;
 }

 .blogrhsl1{
     line-height: 0;
 }
 .blogrhsrow{
     position:relative;
     display: flex;
 }

.blogimg{
    position:absolute;
     width: 20%;
     right:0;
 }

 .blogimgA{
    position:relative;
    padding-right: 200px;

 }

.solidA{
    position:relative;  
     border-top: 1px solid rgb(207, 206, 206)
}

.solidB{
    position:relative;
    padding-bottom: 20px;
}
