body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

#section1{
    display:flex;
   
    
}

nav,#section1{
    padding-left: 100px;
    padding-right: 100px;
}

#s1right{
    position: relative;
    overflow: hidden;
    width: 560px;
    height: 476px;
    background-color: #012435;
}

nav {
    overflow: hidden;
    background-color: white;
    position: relative;
    font-size: 28px;
    color: #282A35;
    font-family: 'Source Sans Pro', sans-serif;
   height: 80px;
}


#nav_content,#section1,#section2{
  position: relative;
  margin-right: auto; 
  margin-left:  auto; 
  max-width: 1200px; 
}

#nav_content,#section1{
  display: flex;
  justify-content: space-between;
}

#section2{
  padding-top: 20px;
}


#navLeft img{
  display: block;
  height:auto;
  width: 120px;
  padding: 10px 15px;
  align-items: center;
}


#navRight,#navLeft{
    position: relative;
    display: flex;
}

#navRight a{
    display: block;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}





nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
nav a.active {
    background-color: #04a56a;
    color: white;
  }

  .vl {
border-left: 2px Solid rgb(231, 230, 230);
    height: 80px;
   
  }

#s1right h4,h3,img{
    color:white;
    line-height: 5px;
    padding-left: 18px;
}


#s1left{
    position: relative;
    overflow: hidden;
    width: 100%;
}

  .latestVideoEmbed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 98%;
    height: 100%;
  }

.title_label{

width:200px;
height: 100px;
background-color: blue;
} 


.square {
  height: 50px;
  width: 180px;
  background-color: #555;
margin-bottom: 0;
}

hr.solid {
  margin-top: 0;
  border-top: 3px solid #bbb;
}

.squareTag{
position: relative;
  color: white;
  display:block;
  text-align: center;
  font-size: 25px;
  padding-top: 3%;


}